{% extends 'layout.html' %}
{% from '_helpers.html' import render_pagination %}
{% block title %}
  {%- if kind == 'happy' %}Happy Users Say
  {%- else %}Unhappy Users Say{% endif -%}
{% endblock %}
{% block body %}
  <h2>{{ self.title() }}</h2>
  <ul class=feedback-list>
  {%- for feedback in pagination.items %}
    <li>
      <p class=text><q>{{ feedback.text }}</q>
      <p class=meta>—
        written on {{ feedback.pub_date.strftime('%Y-%m-%d at %H:%M') }}
        {% if feedback.version %}about Flask-{{ feedback.version }}{% endif %}
        <a href={{ url_for('show_message', id=feedback.id) }}>#</a>
  {%- endfor %}
  </ul>
  {{ render_pagination(pagination, request.endpoint) }}
{% endblock %}
